{% extends 'recipes/base.html' %}

{%block content%}
    <h2>{{author.name}}</h2>
    <h3>Bio</h3>
    {{author.bio|linebreaksbr}}
    <h3>Recipes Contributed</h3>
    <ul>
    {% for recipe in recipes %}
        <li>
        <a href="{% url 'recipe_detail' pk=recipe.pk %}"><h3>{{ recipe }}</h3></a>
        </li> 
    {% endfor %}
    </ul>

    <h3>Favorite Recipes</h3>
    <ul>
    {% for fav in fav_recipes %}
        <li>
        <a href="{% url 'recipe_detail' pk=fav.pk %}"><h3>{{ fav }}</h3></a>
        </li>
    {% empty %}
    <i>There are no favorite recipes for this author</i>
    {% endfor %}
    </ul>
    <br>
{% endblock%}