{% load static %}
<html>
    <head>
        <title>RecipeBox</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <a href="{% url '' %}"><h1>RecipeBox</h1></a>
        </header>

            {% block content %}
            {% endblock %}

        <footer>
            <p> Copyright 2020 by Janell Huyck
        </footer>
    </body>
</html>