{% load static %}
<html>
    <head>
        <title>RecipeBox</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Google Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <header>
            <h1>RecipeBox</h1>
            {%include 'recipes/menubar.html'%}
        </header>
            {% block content %}
            {% endblock %}

        <footer>
            <p> Copyright 2020 by Janell Huyck
        </footer>
    </body>
</html>